<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>You have received a new message from the websites contact
    form
    <%= '#{ @name }', '#{ @email }'%></p>
    <p>
      <%= '#{ @body }' %>
    </p>
  </body>
</html>